#!/usr/bin/env bash
# cachebust: {{ now }}

echo "⭐️ Running after 050 install-brew-packages"
# Install GCC First
$BREWBIN install gcc --skip-post-install

# Install deps from generated brew file
$BREWBIN bundle --file=~/.config/brew/Brewfile

