#!/usr/bin/env bash

echo "⭐️ Running after 040 rpm-ostree"

# Ghostty
curl -fsSL "https://copr.fedorainfracloud.org/coprs/scottames/ghostty/repo/fedora-${VERSION_ID}/scottames-ghostty-fedora-${VERSION_ID}.repo" | sudo tee /etc/yum.repos.d/_copr:copr.fedorainfracloud.org:scottames:ghostty.repo > /dev/null

# Refresh ostree md
rpm-ostree refresh-md

rpm-ostree install ghostty || true
rpm-ostree install zsh || true
