{{- if .system.isAndroid -}}
#!/data/data/com.termux/files/usr/bin/bash
# packages_pkg.yml hash: {{ include ".chezmoidata/packages_pkg.yml" | sha256sum }}

{{ template "scripts/common/bootstrap.sh.tmpl" . }}

echo "⭐️ Running 10-android-package-installs"

pkg update
pkg install -y {{ range .packages.cli.android }}{{ . }} {{ end }}

{{- end -}}