{{- if .system.isAndroid -}}
#!/data/data/com.termux/files/usr/bin/bash
# packages.yml hash: {{ include ".chezmoidata/packages.yml" | sha256sum }}

{{ template "scripts/common/bootstrap.sh.tmpl" . }}

echo "⭐️ Running 10-android-package-installs"

apt update
apt install -y {{ range .packages.cli.android }}{{ . }} {{ end }}

{{- end -}}