{{- if .system.isAndroid -}}
#!/data/data/com.termux/files/usr/bin/zsh

{{ template "scripts/common/bootstrap.sh.tmpl" . }}

echo "⭐️ Running 15-android-install-nerdfonts"

curl -fsSL https://raw.githubusercontent.com/arnavgr/termux-nf/main/install.sh | zsh

{{- end -}}