{{- if .system.isAndroid -}}
#!/data/data/com.termux/files/usr/bin/zsh

{{ template "scripts/common/bootstrap.sh.tmpl" . }}

echo "⭐️ Running 20-android-dev-dependencies"

{{ template "scripts/development-setup/dev-directories.sh.tmpl" . }}

{{- end -}}
