{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $brewpath := "" -}}
{{- if eq .osid "darwin" -}}
{{-   $brewpath = "/opt/homebrew/bin/brew" -}}
{{- else if eq .osid "linux-fedora" -}}
{{-   $brewpath = "/home/linuxbrew/.linuxbrew/bin/brew" -}}
{{- end -}}

data:
    name: "Daniel K. Jones"
    email: {{ promptStringOnce . "email" "What is your email address?" }}
    hostname: {{ .chezmoi.hostname }}
    osid: {{ $osid }}
    # Machine-specific flags
    common:
        packages:
            brewTaps:
            brewCaskTaps:
            brew:
                - yazi
                - zsh
            brewCask:
            flatpak:
    hosts:
        coffee-sponge:
        grease-monkey:
            packages:
                brew:
                flatpak:
        mac-4900:
            packages:
                brewTaps:
                brewCaskTaps:
                brewCask:
env:
    OS: "{{ .chezmoi.os }}"
    OS_DISTRO: "{{ $osid }}"
    OS_VARIANT: "{{ .chezmoi.osRelease.variantID }}"
    HOSTNAME: "{{ .chezmoi.hostname }}"
    BREWPATH: "{{ $brewpath }}"
