{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $customHostname := promptStringOnce . "customHostname" "What is this computer's hostname? (will default to currently set)" -}}

{{- $brewpath := "" -}}
{{- if eq .osid "darwin" -}}
{{-   $brewpath = "/opt/homebrew/bin" -}}
{{- else if eq .osid "linux-fedora" -}}
{{-   $brewpath = "/home/linuxbrew/.linuxbrew/bin" -}}
{{- end -}}

data:
    name: "Daniel K. Jones"
    email: {{ promptStringOnce . "email" "What is your email address?" }}
    hostname: {{ if $customHostname }}{{ $customHostname }}{{ else }}{{ .chezmoi.hostname }}{{ end }}
    osid: {{ $osid }}
    # Machine-specific flags
    common:
        defaultShell: zsh
        packages:
            brewTaps:
                - jesseduffield/lazygit
            brewCaskTaps:
            brew:
                - act
                - antidote
                - bat
                - cheat
                - dive
                - duckdb
                - eza
                - fd
                - figlet
                - fzf
                - gh
                - git-delta
                - go
                - grep
                - htop
                - humanlog
                - jesseduffield/lazygit/lazygit
                - jq
                - lazydocker
                - neovim
                - nmap
                - nvim
                - rclone
                - ripgrep
                - screen
                - starship
                - tig
                - tmux
                - vim
                - wget
                - yazi
                - yq
                - zoxide
                - zsh
            brewCask:
                - firefox
                - gimp
                - ghostty
                - spotify
                - visual-studio-code
                - vlc
            flatpak:
                - com.brave.Browser
                - com.discordapp.Discord
                - com.google.Chrome
                - com.jetbrains.IntelliJ-IDEA-Ultimate
                - com.mattjakeman.ExtensionManager
                - com.slack.Slack
                - com.spotify.Client
                - com.valvesoftware.Steam
                - com.visualstudio.code
                - md.obsidian.Obsidian
                - org.gimp.GIMP
                - org.localsend.localsend_app
                - org.mozilla.firefox
                - org.telegram.desktop
                - org.videolan.VLC
                - us.zoom.Zoom
    hosts:
        coffee-sponge:
        grease-monkey:
            packages:
                brew:
                    - tailscale
                flatpak:
        mac-4900:
            packages:
                brew:
                    - awscli
                    - awscli-local
                    - aws-sam-cli
                    - trivy
                brewTaps:
                brewCaskTaps:
                brewCask:
                    - caffeine
                    - gas-mask
                    - jordanbaird-ice
                    - m-cli
                    - mas
                    - microsoft-edge
                    - obsidian
                    - raycast
                    - rectangle
                    - slack
                    - stats
                    - visual-studio-code
env:
    OS: "{{ .chezmoi.os }}"
    OS_DISTRO: "{{ $osid }}"
    OS_VARIANT: "{{ .chezmoi.osRelease.variantID }}"
    HOSTNAME: "{{ .chezmoi.hostname }}"
    BREWPATH: "{{ $brewpath }}"
    BREWBIN: "{{ $brewpath }}/brew"
