{{- if eq .chezmoi.os "darwin" }}
# specify a directory to install
cask_args appdir: '/Applications'
{{- end }}

{{- range .packages.cli.brew.common }}
brew '{{ . }}'
{{- end }}

{{ if eq .chezmoi.os "darwin" }}
{{- if eq .isHeadless false }}
{{- range .packages.gui.casks.common }}
cask '{{ . }}'
{{- end }}
{{- if eq .isPersonal true }}
{{- range .packages.gui.casks.personal }}
cask '{{ . }}'
{{- end }}
{{- end }}
{{- end }}
{{- end }}