{{ if eq .chezmoi.os "darwin" }}
# Tap extra casks
tap "homebrew/cask-fonts"

# specify a directory to install
cask_args appdir: '/Applications'

# Fonts
cask 'font-meslo-lg-nerd-font'
{{ end }}
# CLI Tooling
brew 'bat'
brew 'neofetch'
brew 'tmux'
brew 'neovim'
brew 'ripgrep'
brew 'git'
brew 'tig'
brew 'git-delta'
brew 'jq'
brew 'tree'
brew 'wget'
brew 'eza'
brew 'fzf'
brew 'fd'
brew 'openjdk'
brew 'awscli'
brew 'awscli-local'
brew 'aws-sam-cli'
brew 'htop'
brew 'tlrc'
brew 'thefuck'
brew 'zoxide'
brew 'zsh'

# Development Runtimes
brew 'nvm'

# Database Tooling
brew 'postgresql@13'

# password management
cask '1password-cli'

{{ if eq .chezmoi.os "darwin" }}

# Browsers
cask 'google-chrome'
cask 'brave-browser'
cask 'microsoft-edge'
cask 'firefox'

# Comms
cask 'telegram'
cask 'whatsapp'
cask 'slack'

# Productivity
cask 'notion'
cask 'gimp'
cask 'screenflow'

# OS Tooling
cask 'caffeine'
cask 'rectangle'
cask 'raycast'
cask 'stats'
cask 'lulu'

# Development
cask 'iterm2'
cask 'docker'
cask 'visual-studio-code'
cask 'jetbrains-toolbox'
cask 'postman'
cask 'insomnia'
cask 'cyberduck'

# Misc
cask 'spotify'
cask 'vlc'

{{ if eq .chezmoi.config.data.isPersonal true }}
cask '1password'
{{ end }}

{{ end }}

