{{- range .packages.cli.brew.common }}
brew '{{ . }}'
{{- end -}}
{{- if .usage.isPersonal | not | not }}
  {{- range .packages.cli.brew.personal }}
brew '{{ . }}'
  {{- end }}
{{- end }}
{{- if .usage.isWork | not | not }}
  {{- range .packages.cli.brew.work }}
brew '{{ . }}'
  {{- end }}
{{- end }}
