### ------ Bootstrapping ------ ###
## ---- Brew ---- ##
export BREW_PATH={{ .system.brewPath }}/bin/brew
export BREW_BASE_PATH={{ .system.brewPath }}
eval "$(${BREW_PATH} shellenv)"

## ---- Starship ---- ##
if command -v starship > /dev/null; then
  eval "$(starship init zsh)"
fi

## ---- oh-my-zsh ---- ##
# Fix for missing pygmentize
if ! command -v pygmentize > /dev/null; then
  mkdir -p $HOME/.local/bin
  touch $HOME/.local/bin/pygmentize && chmod +x $HOME/.local/bin/pygmentize
fi

export ZSH="$HOME/.oh-my-zsh"
zstyle ':omz:update' mode disabled  # disable automatic updates
ZSH_CUSTOM=$HOME/.oh-my-zsh-custom
source $ZSH/oh-my-zsh.sh

## ---- NVM (node version manager) ---- ##
export NVM_DIR="$HOME/.nvm"
[ -s "${BREW_BASE_PATH}/opt/nvm/nvm.sh" ] && \. "${BREW_BASE_PATH}/opt/nvm/nvm.sh"  # This loads nvm
[ -s "${BREW_BASE_PATH}/opt/nvm/etc/bash_completion.d/nvm" ] && \. "${BREW_BASE_PATH}/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

## ---- PostgreSQL Client ---- ##
export PATH="${BREW_BASE_PATH}/opt/postgresql@11/bin:$PATH"

## ---- OpenJDK mapping ---- ##
export PATH="${BREW_BASE_PATH}/opt/openjdk/bin:$PATH"

### ------ Constants ------ ###

## ---- General OS config ----- ##
# Marker to tell OS that ZSH is sourced successfully
export ZSH_SOURCED=true

# Editors
export EDITOR=nvim
export VISUAL=nvim

# Shell History
export HISTSIZE=25000
export SAVEHIST=25000

## ---- Development ---- ##
export GITUSER="{{ .details.personal.githubUsername }}"

export DEV_DIR="$HOME/dev/src"
export DEV_GH_DIR="$DEV_DIR/github.com"
export DEV_GH_MYDIR="$DEV_GH_DIR/$GITUSER"
{{ if and (.usage.isWork) (.details.work.githubOrg) }}
export DEV_GH_WORK="$DEV_GH_DIR/{{ .details.work.githubOrg }}"
{{ end }}
{{ if and (.usage.isWork) (.details.work.githubUsername) }}
export DEV_GH_WORK_USERNAME="$DEV_GH_DIR/{{ .details.work.githubUsername }}"
{{ end }}

### ------ Functions ------ ###



### ------ Aliases ------ ###
## ---- Work Dirs ---- ##
alias dgh="cd ${DEV_GH_DIR}"
alias tdd="cd ${DEV_GH_MYDIR}"
{{ if and (.usage.isWork) (.details.work.githubOrg) }}
alias wdd="cd ${DEV_GH_WORK}"
{{ end }}
{{ if and (.usage.isWork) (.details.work.githubUsername) }}
alias wudd="cd ${DEV_GH_WORK_USERNAME}"
{{ end }}

## ---- Applications ---- ## 
alias ls="eza --color=always --long --git --icons=always"
alias cd="z"

alias v="nvim" # neovim
alias sv="sudoedit"
alias t="tmux"

alias brewup="brew bundle --file ~/Brewfile"

alias rav="rsync -rav"

### ----- Env Overrides ------ ###
touch $HOME/.env
eval export $(cat $HOME/.env) > /dev/null 2>&1
