[user]
	email = me@danielkjones.com
	name = Daniel K. Jones

[alias]
	a = add
	ap = add -p

	puf = push -f -u origin HEAD
	pup = push -u origin HEAD

	co = checkout
	cop = checkout -p

	cl = clone

	rd = rebase origin/develop
	rid = rebase -i origin/develop

	logadog = log --all --decorate --oneline --graph
