[user]
{{- if .usage.isPersonal | not | not }}
	email = {{ .details.personal.email }}
{{- else }}
	email = {{ .details.work.email }}
{{ end}}
	name = {{ .name }}
[alias]
	a = add
	ap = add -p

	cm = commit

	puf = push -f -u origin HEAD
	pup = push -u origin HEAD

	co = checkout
	cop = checkout -p

	cl = clone

	rd = rebase origin/develop
	rid = rebase -i origin/develop

	logadog = log --all --decorate --oneline --graph

  staash = stash --all

  bb = !$HOME/.scripts/git/better-branch.sh

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
