#!{{ .system.shebang }}

## Brew setup
eval "$(${BREW_PATH} shellenv)"

## Dev Directories
DEV_DIR_PREFIX="${HOME}/dev/src"

mkdir -p "${DEV_DIR_PREFIX}/github.com/"

{{- if .usage.isPersonal | not | not }}
mkdir -p "${DEV_DIR_PREFIX}/github.com/{{ .details.personal.githubUsername }}"
{{- end }}

{{- if and (.usage.isWork | not | not) }}
mkdir -p "${DEV_DIR_PREFIX}/github.com/{{ .details.work.githubOrg }}"
{{- end }}

## Node - Install latest LTS
if [[ -z $ZSH ]]; then
  source $HOME/.zshrc
fi
nvm install --lts
