#!/bin/bash

set -e

if command -v brew; then
  echo "Brew already installed"
else
  echo "Installing Homebrew"
  which brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi