#!{{ .system.shebang }}
{{ if .system.isAndroid | not | not }}
echo "Skipping Homebrew install on Android"
exit 0

{{ end }}

set -e

if command -v brew; then
  echo "Brew already installed"
else
  echo "Installing Homebrew"
  which brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi