#!/bin/bash

set -e

if command -v brew; then
  echo "Brew already installed"
else
  echo "Installing Homebrew"
  which brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

  {{- if eq .chezmoi.os "linux" }}
  (echo; echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"') >> $HOME/.bashrc
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  {{- end }}

  {{- if eq .chezmoi.os "darwin" }}
  (echo; echo 'eval "$(/opt/homebrew/bin/brew shellenv)"') >> $HOME/.bashrc
  eval "$(/opt/homebrew/bin/brew shellenv)"
  {{- end }}

  source $HOME/.bashrc
fi