{{ if .system.isMac -}}
#!{{ .system.shebang }}
# packages.yml hash: {{ include ".chezmoidata/packages.yml" | sha256sum }}

echo "Installing packages"

if [ -x ${BREW_PATH} ]; then
  # Source Homebrew environment variables
  eval "$(${BREW_PATH} shellenv)"
  brew bundle
else
  printf "Error: Homebrew is not installed. Exiting.\n"
  exit 1
fi
{{- end -}}
