## Common packages
{{- $commonConfig := .packages.common }}
{{- if hasKey $commonConfig "brewTaps" }}
{{- range $commonConfig.brewTaps }}
tap "{{ . }}"
{{- end }}
{{- end }}
{{- if hasKey $commonConfig "brew" }}
{{- range $commonConfig.brew }}
brew "{{ . }}"
{{- end }}
{{- end }}

## Machine Specific packages: {{- .hostname }}
{{- $hostConfig := get .packages.hosts .hostname }}
{{- if (hasKey $hostConfig "brewTaps") }}
{{- range $hostConfig.brewTaps }}
tap "{{ . }}"
{{- end }}
{{- end }}
{{- if (hasKey $hostConfig "brew") }}
{{- range $hostConfig.brew }}
brew "{{ . }}"
{{- end }}
{{- end }}
