## Common packages
{{- $commonConfig := .common }}
{{- if hasKey $commonConfig.packages "brewTaps" }}
{{- range $commonConfig.packages.brewTaps }}
tap "{{ . }}"
{{- end }}
{{- end }}
{{- if hasKey $commonConfig.packages "brew" }}
{{- range $commonConfig.packages.brew }}
brew "{{ . }}"
{{- end }}
{{- end }}

## Machine Specific packages: {{- .hostname }}
{{- $hostConfig := get .hosts .hostname }}
{{- if (and (hasKey $hostConfig "packages") (hasKey $hostConfig.packages "brewTaps")) }}
{{- range $hostConfig.packages.brewTaps }}
tap "{{ . }}"
{{- end }}
{{- end }}
{{- if (and (hasKey $hostConfig "packages") (hasKey $hostConfig.packages "brew")) }}
{{- range $hostConfig.packages.brew }}
brew "{{ . }}"
{{- end }}
{{- end }}