{{ if eq .chezmoi.config.env.OS "darwin" }}
## Common casks
{{- $commonConfig := .packages.common }}
{{- if hasKey $commonConfig "brewCaskTaps" }}
{{- range $commonConfig.brewCaskTaps }}
tap "{{ . }}"
{{- end }}
{{- end }}
{{- if hasKey $commonConfig "brewCask" }}
{{- range $commonConfig.brewCask }}
cask "{{ . }}"
{{- end }}
{{- end }}

## Machine Specific casks: {{- .hostname }}
{{- $hostConfig := get .packages.hosts .hostname }}
{{- if (hasKey $hostConfig "brewCaskTaps") }}
{{- range $hostConfig.brewCaskTaps }}
tap "{{ . }}"
{{- end }}
{{- end }}
{{- if (hasKey $hostConfig "brewCask") }}
{{- range $hostConfig.brewCask }}
cask "{{ . }}"
{{- end }}
{{- end }}

{{- end }}
