## Common casks
{{- $commonConfig := .hostData.default }}
{{- if hasKey $commonConfig.packages "brewCask" }}
{{- range $commonConfig.packages.brewCask }}
cask "{{ . }}"
{{- end }}
{{- end }}

## Machine Specific casks: {{- .hostname }}
{{- $hostConfig := get .hostData .hostname }}
{{- if (and (hasKey $hostConfig "packages") (hasKey $hostConfig.packages "brewCask")) }}
{{- range $hostConfig.packages.brewCask }}
cask "{{ . }}"
{{- end }}
{{- end }}

