{{ if eq .chezmoi.config.env.OS "linux" }}
## Common flatpaks
{{- $commonConfig := .chezmoi.config.data.common }}
{{- if hasKey $commonConfig.packages "flatpak" }}
{{- range $commonConfig.packages.flatpak }}
flatpak "{{ . }}"
{{- end }}
{{- end }}

## Machine Specific flatpaks: {{- .chezmoi.config.data.hostname }}
{{- $hostConfig := get .chezmoi.config.data.hosts .chezmoi.config.data.hostname }}
{{- if (and (hasKey $hostConfig "packages") (hasKey $hostConfig.packages "flatpak")) }}
{{- range $hostConfig.packages.flatpak }}
flatpak "{{ . }}"
{{- end }}
{{- end }}
{{- else }}
# Flatpak is not available or not executable on this system, skipping flatpak packages.
{{- end }}