{{ if eq .chezmoi.config.env.OS "linux" }}
## Common flatpaks
{{- $commonConfig := .packages.common }}
{{- if hasKey $commonConfig "flatpak" }}
{{- range $commonConfig.flatpak }}
flatpak "{{ . }}"
{{- end }}
{{- end }}

## Machine Specific flatpaks: {{- .hostname }}
{{- $hostConfig := get .packages.hosts .hostname }}
{{- if (hasKey $hostConfig "flatpak") }}
{{- range $hostConfig.flatpak }}
flatpak "{{ . }}"
{{- end }}
{{- end }}
{{- else }}
# Flatpak is not available or not executable on this system, skipping flatpak packages.
{{- end }}
