echo <<EOF
✅  Chezmoi complete!

🚀  Next steps:
  - Run `brew bundle` from your home DIR to install optional packages. This has been tailored to your system.

ℹ️  Working with Chezmoi commands:
  - Run 'chezmoi update' to pull the latest changes from source
  - Run 'chezmoi cd' to change to the source directory
  - Run 'chezmoi init --prompt' to rebuild the chezmoi configuration

📚  For more information, visit: https://www.chezmoi.io/docs/quick-start/
EOF