cat <<EOF
✅  Chezmoi complete!

🚀  Next steps:
  - You may need to restart your machine for your zsh config to apply. You can also try `exec zsh` or `source ~/.zshrc`
  - Run 'brewup' install/update optional packages. This has been tailored to your system.

ℹ️  Working with Chezmoi commands:
  - Run 'chezmoi update' to pull the latest changes from source
  - Run 'chezmoi cd' to change to the source directory
  - Run 'chezmoi init --prompt' to rebuild the chezmoi configuration

📚  For more information, visit: https://www.chezmoi.io/docs/quick-start/
EOF