#!/usr/bin/env bash

echo "⭐️ Running before 010 install-homebrew"

if [ -f /.dockerenv ] || [ -f /run/.containerenv ]; then
    echo "Running inside a container, skipping Homebrew installation"
    exit 0
fi

if [ $OS != "darwin" ] && [ $OS != "linux" ]; then
    echo "Homebrew installation is only supported on macOS and Linux, skipping installation"
    exit 0
fi

echo "Checking for Homebrew installation at $BREWPATH"
if [ -x "$BREWPATH" ]; then
    echo "Homebrew is already installed at $BREWPATH, skipping installation"
    exit 0
else 
    echo "Homebrew not found at $BREWPATH, proceeding with installation"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# EOF