{{- if .system.isUbuntu -}}
#!{{ .system.shebang }}
# packages_brew.yml hash: {{ include ".chezmoidata/packages_brew.yml" | sha256sum }}

{{ template "scripts/common/bootstrap.sh.tmpl" . }}

echo "⭐️ Running 10-ubuntu-package-installs"

{{ template "scripts/packages/homebrew-bundle.sh.tmpl" . }}

{{- end -}}
