## ---- Bootstrapping functions ---- ###
source_file() {
  [ -f "$1" ] && source "$1"
}

## ---- Brew ---- ##
export BREW_PATH={{ .system.brewPath }}/bin/brew
export BREW_BASE_PATH={{ .system.brewPath }}
eval "$(${BREW_PATH} shellenv)"

## ---- Starship ---- ##
if command -v starship > /dev/null; then
  eval "$(starship init zsh)"
fi

## ---- NVM (node version manager) ---- ##
export NVM_DIR="$HOME/.nvm"
[ -s "${BREW_BASE_PATH}/opt/nvm/nvm.sh" ] && \. "${BREW_BASE_PATH}/opt/nvm/nvm.sh"  # This loads nvm
[ -s "${BREW_BASE_PATH}/opt/nvm/etc/bash_completion.d/nvm" ] && \. "${BREW_BASE_PATH}/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

