# Bootstrap first
source "$ZDOTDIR/bootstrap.zshrc"

# Source components
source_file "$ZDOTDIR/aliases.zshrc"
source_file "$ZDOTDIR/exports.zshrc"
source_file "$ZDOTDIR/functions.zshrc"

# bun completions
[ -s "/Users/daniel.jones/.bun/_bun" ] && source "/Users/daniel.jones/.bun/_bun"

