# Brewfile
#
# All brew packages available to be installed for this machine

{{ template "brew/base.brew.tmpl" . }}
{{ template "brew/cask.brew.tmpl" . }}
{{ if and (eq .machineType "workstation") (lookPath "flatpak") }}
{{ template "brew/flatpak.brew.tmpl" . }}
{{- end }}
