# Brewfile
#
# All brew packages available to be installed for this machine

{{ template "brew/base.brew.tmpl" . }}
{{ template "brew/cask.brew.tmpl" . }}
{{ if eq .chezmoi.config.env.OS "linux" }}
{{ template "brew/flatpak.brew.tmpl" . }}
{{- end }}
