{{ if .system.isUbuntu -}}
#!{{ .system.shebang }}

{{- template "scripts/common/bootstrap.sh.tmpl" . -}}

export DEBIAN_FRONTEND=noninteractive

echo "Installing packages"
sudo apt-get update
sudo apt-get upgrade -y
sudo apt-get install -y git curl build-essential zsh

# Install 1Password CLI if not exists
{{- template "scripts/packages/1password-cli-install.sh.tmpl" . -}}
{{- end }}
