{{- if .system.isUbuntu -}}
#!{{ .system.shebang }}

{{ template "scripts/common/bootstrap.sh.tmpl" . }}

echo "⭐️ Running 01-ubuntu-install-homebrew"

{{ template "scripts/packages/homebrew-install.sh.tmpl" . }}

{{- end -}}