{{- if .system.isMac -}}
#!{{ .system.shebang }}
# packages.yml hash: {{ include ".chezmoidata/packages.yml" | sha256sum }}

{{ template "scripts/common/bootstrap.sh.tmpl" . }}

echo "⭐️ Running 10-darwin-package-installs"

{{ template "scripts/packages/homebrew-bundle.sh.tmpl" . }}

{{- end -}}
