on:
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  DOTFILES_BRANCH: ${{ github.head_ref || github.ref_name || 'main' }}
  DOTFILES_REPOSITORY: ${{ github.repository }}

name: Build and Test dotfiles

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    env:
      CI: "true"
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Echo environment variables
        run: |
          echo "PATH: $PATH"
          echo "OS: ${{ matrix.os }}"
          pwd
          ls -lah /home

      - name: Install Chezmoi and apply the dotfiles
        run: |
          mkdir -p $HOME/.local/bin
          export PATH="$HOME/.local/bin:$PATH"
          sh -c "$(curl -fsLS get.chezmoi.io)" -- -b $HOME/.local/bin
          chezmoi init --source "$(pwd)" --no-tty
          chezmoi data --source "$(pwd)"
          chezmoi apply --source "$(pwd)" --no-tty
          # Run some basic checks to verify the dotfiles were applied correctly
          test -f "$HOME/.zshrc"
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - distro: fedora
            release: 43
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Echo matrix variables
        run: |
          echo "OS: ${{ matrix.os.distro }} ${{matrix.os.release }}"
          pwd
          ls -lah /home

      - name: Install docker
        run: |
          sudo apt remove $(dpkg --get-selections docker.io docker-compose docker-compose-v2 docker-doc podman-docker containerd runc | cut -f1)

          # Add Docker's official GPG key:
          sudo apt update
          sudo apt install ca-certificates curl
          sudo install -m 0755 -d /etc/apt/keyrings
          sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
          sudo chmod a+r /etc/apt/keyrings/docker.asc

          # Add the repository to Apt sources:
          sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
          Types: deb
          URIs: https://download.docker.com/linux/ubuntu
          Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
          Components: stable
          Signed-By: /etc/apt/keyrings/docker.asc
          EOF

          sudo apt update

          sudo apt install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin


      - name: Install Distrobox
        run: |
          sudo apt-get update && sudo apt-get install -y distrobox

      - name: Create Distrobox container
        run: |
          mkdir -p $RUNNER_TEMP/home
          distrobox create --yes --root --name dotfiles-test --home $RUNNER_TEMP/home --additional-packages git --image docker.io/library/${{ matrix.os.distro }}:${{ matrix.os.release }} --pull

      - name: Run tests in Distrobox container
        run: |
          distrobox enter --root --name dotfiles-test -- bash -c "sh ./scripts/ci/${{ matrix.os.distro }}.sh"