on:
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  DOTFILES_BRANCH: ${{ github.head_ref || github.ref_name || 'main' }}
  DOTFILES_REPOSITORY: ${{ github.repository }}

name: Build and Test dotfiles

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - distro: fedora
            release: 43
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Echo matrix variables
        run: |
          echo "OS: ${{ matrix.os.distro }} ${{matrix.os.release }}"
          pwd
          ls -lah /home

      - name: Install Distrobox
        run: |
          sudo apt-get update && sudo apt-get install -y distrobox

      - name: Create Distrobox container
        run: |
          distrobox create --yes --root --name dotfiles-test --additional-packages git --image docker.io/library/${{ matrix.os.distro }}:${{ matrix.os.release }} --pull

      - name: Run tests in Distrobox container
        run: |
          distrobox enter --root --name dotfiles-test -- bash -c "sh ./scripts/ci/${{ matrix.os.distro }}.sh"