on:
    pull_request:
        branches: [main]
    workflow_dispatch:

env:
    DOTFILES_BRANCH: ${{ github.head_ref || github.ref_name || 'main' }}
    DOTFILES_REPOSITORY: ${{ github.repository }}

name: Build and Test dotfiles

jobs:
    build-linux:
        runs-on: ubuntu-latest
        steps:
            - name: Check out repository
              uses: actions/checkout@v3

            - name: Set up Go
              uses: actions/setup-go@v3
              with:
                  go-version: "1.20"

            - name: Install chezmoi
              run: |
                  curl -sfL https://install.chezmoi.io | sh -s -- --git {{ env.DOTFILES_REPOSITORY }} --branch {{ env.DOTFILES_BRANCH }} --apply --verbose

            - name: Verify installation
              run: |
                  chezmoi doctor
